
body, h1, p, button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    vertical-align: baseline;
  }

body {
    overflow: auto;
}
  
  /* Main container styles */
  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  
  .app-name {
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; /* Ensure the container takes the full viewport height */
  }
  
  /* Get Started Button styles */

  @keyframes shadow-pulse
    {
    0% {
        box-shadow: 0 0 0 0px rgba(38, 186, 255, 0.747);
    }
    100% {
        box-shadow: 0 0 7px 25px rgba(255, 255, 255, 0);
    }
    }


  .get-started {
    margin-top: 5rem;
    justify-content: center;
  }
  
  .get-started-button {
    margin: 25% auto 0 auto;
    width: 280px;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background: #0353ad;
    border-radius: 50px;
    animation: shadow-pulse 1.5s infinite;
  }
  
  .get-started-button:hover {
    background-color: rgba(255, 255, 255, 0.514);
    color: black;
    cursor: pointer;
  }
  
  /* Mission Statement styles */
  .mission {
    margin-top: 20px;
  }
  
  .mission-statement {
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
  }
  
  /* Site Description styles */
  .description {
    margin-top: 20px;
  }
  
  .site-description {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
  }
  
  /* Features section styles */
  .features {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    width: 90%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  
  .feature {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .feature-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: .5rem;
  }
  
  .feature-description {
    font-size: 1rem;
    color: #ffffff;
    line-height: 150%;
  }

  .sectionContainer {
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    background-color: transparent;
  }
  
  .featureContainer {
    text-align: left;
  }
  
  